* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(to bottom, #131720, #1a2433);
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    line-height: 1.6;
}

header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    background-color: #1a2433;
    padding: 15px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

header a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    transition: color 0.3s;
}

header a:hover {
    color: #f39c12;
}

.search-container {
    grid-column: span 2;
    display: flex;
    justify-content: end;
}

form {
    background-color: #151f30;
    height: 3.5rem;
    width: 60%;
    border-radius: 15px;
    padding: 0 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
}

input {
    background: none;
    border: none;
    outline: none;
    color: #fff;
    font-size: 1.2rem;
    padding: 10px;
    width: 100%;
}

main {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}


.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.column {
    flex: 1 1 250px;
    padding: 10px;
    margin: 10px;
}


.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #1a2433;
    border-radius: 15px;
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 100%;
    margin: 0 0 20px 0;
    height: 450px;
}

.thumbnail {
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-bottom: 1px solid #151f30;
    border-radius: 15px 15px 0 0;
}

.card:hover {
    transform: translateY(-15px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

h3 {
    margin: 15px 0;
    font-size: 1.5rem;
    color: #f39c12;
}